@import "tailwindcss"; 

@theme {
  --color-primary: rgb(255, 255, 255);
  --color-accent-primary: rgb(114, 152, 177);
}

body {
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
}
